# Dependencies
node_modules

# Environment variables (NEVER COMMIT)
.env
.env.*

# Logs
logs
*.log

# OS / Editor
.DS_Store
.vscode
.idea

# Jest coverage
coverage

# Test Scripts
test

# Test Outputs
accuracy_test_out.txt
verify_out_cmd.txt
verify_out_cmd_2.txt
verify_out_final.txt
verify_output.txt
